* {
	font-family: 'Cairo', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

#btnUp {
	position: absolute;
	bottom: 50px;
	right: 50;
}

.header span {
	color: #6BCBD9;
}

.navbar{
	transition: all .5s ease-in-out;
 	padding-top: 0px;
 	padding-bottom: 0px;
}

nav a {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	text-decoration: none;
	color: #6BCBD9;
}

nav .navbar-brand {
	width: 35%;
}

.navbar-brand .img-fluid {
	max-width: 20%;
    height: 70px;
}

nav .collapse {
	width: 80%;
}

nav ul {
	width: 100%;
	text-align: center;
}

nav ul li {
	font-weight: bold;
	border-bottom: 2px solid transparent;
}

nav ul li:hover {
	border-bottom: 2px solid #6BCBD9;
}

.navbar-toggler{cursor: pointer;
				color:#6BCBD9;}

.navbar-brand span{color:#343A40}

.main-panel::before {
	background: url("../images/shipping-truck.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90vh;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	transform: scaleX(1.5);
}

.main-panel {
	position: relative;
	display: flex;
	width: 100%;
	height: 90vh;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	color: #fff;
}

.main-panel .layer {
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height: 90vh;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	transform: scaleX(1.5);
}

.main-panel .content {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}

.main-panel .content h2 {
	margin: 0;
	padding: 0;
	font-size: 3em;
}

.main-panel .content p {
	font-size: 1em;
}


.main-panel .content span {
	background: #6BCBD9;
	color: #fff;
	border-radius: 50% 50%;
	padding: 10 20;
	position: relative;
	top: 120px;
}

.main-panel .content span:hover {
	cursor: pointer;
}


/*map dott */
/* .dot1{position: relative;
	  top:50%;
	  left:400px } */


.features {
	padding:60px 0px;
}

.features .feature {
	margin-top: 30px;
	padding:   40px;
	display: inline-block;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	color: #fff;
	background:#6BCBD9;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.features .feature span {
}

.features .feature h5 {
	font-weight: 900;
	margin-top: 15px;
}

.features .feature p {
	font-weight: 500;

}

.panel {
	margin-top: 100px;
	width: 100%;
	/* height: 80vh; */
	background-size: cover;
	color: black;
}

.panel-background {
	background: url("../images/truck-background.png") no-repeat center center scroll;
	margin-top: 100px;
	width: 100%;
	height: 80vh;
	opacity: 0.07;
	background-size: cover;
	position: absolute;
    top: 165vh;
    left: 0;
}

.panel .row div:nth-child(2) {
	margin-top: 30px;
	line-height: 2;
}

/*about*/
.about{padding:60px 0px;}
.about h2.sub-title{color:#6BCBD9;
					position: relative;}

.about h2 span::before{content: "";
					position: absolute;
					top:60px;
					left:0px;
					width:10%;
					height:4px;
					background-color: #6BCBD9;}

.fa-plane,.fa-truck{color:#6BCBD9}

/*work*/
.work{background-image: url(../images/hero_bg_1.jpg);
	  background-attachment: fixed;
	  background-size: cover;
	  background-position: center center;}

.work h2{color:#6BCBD9;
         font-weight: 600;}

.work .overlay{padding: 60px 0px;}

.work .overlay{background: rgba(0, 0, 0, 0.7);}

.step span{display: flex;
		   width:50px;
		   height:50px;
		   border-radius: 50%;
		   border:1px solid #fff ;
		   color:#6BCBD9;
		   font-size: 30px;
		   align-items: center;
		   justify-content: center;}

.btn:focus{box-shadow: none;}

/*partness*/
.partners{padding:60px 0px;
		  background-color: #EDEDED;}



.logo{text-align: center;}

/*transport*/
.transport{padding:60px 0px;
		   background-color: #EDEDED;}

.transport .btn{background-color:#6BCBD9;
				margin-left: 15px;
				color: #fff;   }


/*feedback*/
.feedback{padding:60px 0px}

.feed{border:1px solid #EEE}

.carousel-small{display: none;}

.carousel-small .feed{width:50%;
					  margin: auto;}

.carousel-small h4{color:#6BCBD9}

.feedback h4{color:#6BCBD9}

.carousel-indicators li{background-color:#6BCBD9;
                        height: 5px;}

.carousel-indicators{margin-top: 30px;}


/*footer*/
footer{background-color: #EDEDED;}
.footer-top{background-color: #EDEDED;
	padding:15px 0px;}

	.footer-top li{font-size: 12px;
	margin-left: 10px;
	padding:5px}

	.footer-top ul{display: flex;
	justify-content: center;}

	.footer-top a{color:#5A5959;}

	.footer-bottom{background-color: #343A40;
	padding:15px 0px}

	.footer-bottom a{color:#fff}
	.footer-bottom i:hover{color: #6BCBD9}

	.footer-links{width: 25%;
	margin: auto;
	display: flex;
	justify-content: space-between;}

	

	
