@media(max-width:767px) /* xs small*/
{

    .features .row{justify-content: center !important;}

      .call-us{margin-bottom: 80px;}

      #carouselExampleIndicators{display: none;}

      .carousel-small{display: block;
       margin-bottom: 40px;}

      .carousel-indicators{display: none;}

      .footer-bottom{position: static;}

      li.nav-item{text-align: left;
                 margin-top: 20px;}

     .navbar{background-color: #b24354 !important;}
     
     nav .collapse{width:100%}

     h3.header span{color:#343A40 !important}

     .navbar-toggler {color: #fff !important}

     nav a:hover{color:#fff !important}

     nav ul li:hover {
        border-bottom: 2px solid #343A40 !important;
    }
    .pricing .col-lg-4{width:70% !important;
        margin: auto;}

.price{margin-top: 20px;} 


.navbar-brand .img-fluid {
	max-width: 40% !important;
    height: 86px !important;
}

}
@media(min-width:768px) and (max-width:991px) /*small*/
{
    
    .feat-last{margin: auto;}
    .call-us{margin-bottom: 80px;}
    #carouselExampleIndicators{display: none;}
    .carousel-small{display: block;
                    margin-bottom: 40px;}
    .carousel-indicators{display: none;}
    .footer-bottom{position: static;}
    li.nav-item{text-align: left;
        margin-bottom: 20px;}
    .navbar{background-color: #b24354 !important;}  

    nav .collapse{width: 100%;}

    h3.header span{color:#343A40 !important}

    .navbar-toggler {color: #fff !important}

    nav a:hover{color:#fff !important}

    nav ul li:hover {
        border-bottom: 2px solid #fff!important;
    }

    .pricing .col-lg-4{width:60% !important;
                       margin: auto;}

    .price{margin-top: 20px;} 
    
    .features .col-lg-3{margin: auto;}

    .navbar-brand .img-fluid {
        max-width: 40% !important;
        height: 86px !important;
    }
  
}
@media(min-width:1001px) and (max-width:1199px) {/*medium*/
 
   .features .col-lg-3{margin: auto;}
 
   
}
@media(min-width:1200px) /*large*/
{
    
}


